# ==========================
# Maven
# ==========================
target/

# ==========================
# Java
# ==========================
*.class
*.jar
*.war
*.ear
*.nar

# ==========================
# Log Files
# ==========================
*.log

# ==========================
# Package Files
# ==========================
*.zip
*.tar.gz
*.rar

# ==========================
# JVM Crash Logs
# ==========================
hs_err_pid*
replay_pid*

# ==========================
# IDE Files
# ==========================
.idea/
.vscode/
*.iml

# ==========================
# Eclipse
# ==========================
.project
.classpath
.settings/

# ==========================
# NetBeans
# ==========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# ==========================
# IntelliJ
# ==========================
out/

# ==========================
# VS Code
# ==========================
.history/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Environment Files
# ==========================
.env
.env.*

# ==========================
# Docker
# ==========================
docker-compose.override.yml